* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:gilroy;
}

:root{
    --bg-primary-color: #0c0c0c;
    --text-color:#f8f6f6fa;
    --bg-color--:rgb(211, 134, 33);
    /* spacing vraibles */
    --space-xs:4px;
    --space-sm:8px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl:32px;
    --space-2xl:48px;
      /* Border colors */
     --border-primary-color: rgba(241, 231, 241, 0.932);
      /* Border redius */  
      --border-redius-sm:4px;
      --br-radius-md:8px;
      --br-radius-lg:16px;
      --br-radius-xl:32px;
      --br-radius-2xl:48px;
       /* bg-food-color */
       --bg-food-color:rgb(226, 223, 31);


}

html,
body {
     height: 100%;
     width: 100%;
     background-color: var(--bg-primary-color);
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: var(--text-color);
}
main,section{
    height: 100%;
    width: 100%;
}
section{
    padding: var(--space-xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(85, 65, 43);
    gap:var(--space-sm);
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid white;
    border-radius: var(--border-redius-sm);
}
.border{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px,1fr));
}
.border .block{
    border: 1px solid var(--border-primary-color);
    border-radius: 50%;
}
.fill{
    background-color: var(--bg-color--);
}
.food{
    background-color: var(--bg-food-color);
}
.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #35355387;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal .start-game,
.modal .Restart-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
}
.start-game .btn-start, .btn-restart{
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;
    box-shadow: 1px 0.5px black;
    border: none;
    cursor: pointer;
}
.start-game .btn-start:active{
    transform: scale(0.96);
}

.modal .Restart-game{
    display: none;
}
.head{
    background-color: #0c0c0c;
}